body{
    margin: 0;
    background-color: #020204;
}


*,*:before,
*:after{
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    border-bottom: 1px solid #32323d;
   
}

.header__line{
    border-bottom: 1px solid #32323d;
}

.header__line-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px 0;
}

.header__lng a {
    color: #fff;
}


